@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;500&display=swap');

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 750px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
	font-family: 'Josefin' , sans-serif;
	text-align: center;
    background-image: linear-gradient(to bottom, #081c15, #1b4332),
                       url('https://www.praxity.com/media/1615/multi-currency-accounting.jpg');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
	color: #f48c06;
	font-size: 20px;
	
    display: grid;
    place-content: center;
}

.container {
    
}

input, select {
	width: 150px;
	height: 40px;
	font-size: 20px;
    margin: 5px auto;
	border: none;
	border-radius: 10px;
	outline: none;
	background: #fcd5ce;
	padding-left: 15px;
}

input {
    width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  	-webkit-appearance: none;
}

i, p {
	font-size: 30px;
}

select {
	width: 100px;
	padding-left: 0px;
}
