@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;500&display=swap');

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 700px;
    margin: 0 auto;
    padding: 0;
	font-family: 'Josefin' , sans-serif;
	text-align: center;
	background: #feeafa;
	color: #1d3557;
	font-size: 20px;
	
}

input, select {
	width: 150px;
	height: 40px;
	font-size: 20px;
    margin: 5px auto;
	border: none;
	border-radius: 10px;
	outline: none;
	background: #fcd5ce;
	padding-left: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  	-webkit-appearance: none;
}

select {
	width: 100px;
	padding-left: 10px;
}

i, p {
	font-size: 30px;
}
